p{
    background-color: rgb(228, 236, 236);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p.parrafo{background-color: greenyellow;}

#div{
    margin-left: 0%;
    margin-right: 0%;
}

*{
    margin: 0%;
    padding: 0%;
}
